# 虚拟环境
.venv/
env/
venv/

# 数据与模型
data/
mnist_data/
*.pth
*ckpt
checkpoints/

# 训练结果与日志
results/
runs/
*.png

# Python 缓存
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pyc

# Jupyter Notebook 缓存
.ipynb_checkpoints/

# Rust 构建产物
target/

# 编辑器配置 (可选)
.vscode/
.idea/
.DS_Storeruns/
